<p id="notice"><%= notice %></p>

<h1>Lists</h1>

<ul class="sortable nav flex-column" data-url="<%= sort_lists_path %>">
  <% @lists.each do |list| %>
    <li class="nav-item" data-object-id="<%= list.id %>">
      <%= link_to list.name, [list, :tasks], class: 'nav-link', remote: true %>
    </li>
  <% end %>
</ul>

<br>

<%= link_to 'New List', new_list_path %>