<nav class="navbar navbar-expand-lg subnavbar">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <%= link_to icon('fas','angle-left', 'Tasks'), list_tasks_path(@list), class: 'nav-link lead', remote: true %>
    </li>
  </ul>
  <div>
    <%= link_to 'Edit', edit_list_task_path(@list, @task), class: 'btn btn-outline-primary', remote: true %>
  </div>
</nav>

<div class="content">
  <div class="list-group list-group-link">
    <div class="row">
      <div class="col"><h1><%= @task.name %></h1></div>
    </div>
    <br>
    <div class="row">
      <div class="col"><%= @task.description %></div>
    </div>
    <br>
    <div class="row">
      <div class="col-3">List</div>
      <div class="col-7"><%= @task.list %></div>
    </div>
    
    <div class="row">
      <div class="col d-flex justify-content-end">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
    </div>
     |
    
  </div>
</div>