<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <div class="container-fluid h-100">
      <div class="row h-100">    
        <div id="sidebar" class="col-4 text-truncate bg-light text-dark scroll-bar">
          <%= render template: 'lists/index' %>
        </div>
        <div id="content" class="col-8 scroll-bar">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
